main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 4rem;
    font-weight: 400;
}

h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
}

.timer-container {
    border: 2px solid #262626;
    margin-top: 40px; 
    border-radius: 25px;
    width: 250px;
    text-align: center;
    box-shadow: #c01c1c;
    padding: 10px;
    font-size: 2.5rem;
}

.interval-container {
    display: flex;
    margin: 0 40px;
    align-items: center;
}

.interval-length-container {
    display: flex;
    
}

button{
    padding: 5px 10px;
    margin: 0 10px;
    height: 25px;
    background-color: #451653;
    cursor: pointer;
    width: 70px;
    border-radius: 2px;
}

button:disabled {
    cursor: not-allowed;
}

.interval-length {
    font-size: 2rem;
    margin: 0 10px;
}
 
.timer-actions {
    margin-top: 20px;
    text-align: center;
}